/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar Styling */
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.nav-menu li {
    position: relative;
}

.nav-menu a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.nav-menu a:hover {
    background-color: #575757;
    border-radius: 8px;
}

/* Dropdown Styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 8px;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
    transition: 0.4s;
}

/* Transform the menu-toggle into a cross when active */
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive Styles */
@media (max-width: 758px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        text-align: center;
        width: 100%;
    }

    .menu-toggle {
        display: flex;
    }

    .dropdown-content {
        position: static;
        background-color: #333;
        box-shadow: none;
        width: 100%;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    .dropdown-content.active {
        display: block;
    }
}
